

body {
	color: #FFF;
	font-size: 16px;

}

h1 {
   font-size: 80px;
   margin: 0px; 
}

h2 {
	background: #35c0f2;
	padding: 5px;
	color: #000;
	border-radius: 5px;
}

#container {
	background: #000;
	width: 420px;
	padding: 15px;

}
